body {
    background-color: rgba(226, 226, 226, 0.96);
    margin: 0px;
}

header {
    background-color: white;
    padding: 15px;
}

.Titolo {
    display: inline;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: super;
}

.logo {
    width: 50px;
}

.conteiner {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-top: 30px;
    max-width: 1100px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-left: 40px;
    margin-bottom: -20px;
}

.buttontask {
    background-color: rgb(69, 162, 255);
    border: 1px solid rgb(69, 162, 255);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

.buttonsection {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(195, 195, 195, 0.96);
    color: rgba(195, 195, 195, 0.96);
    border-radius: 5px;
    padding: 10px;
}

.listtext {
    font-size: 25px;
    font-weight: 800;
}

.list {
    margin-left: -30px;
    list-style: none;
}

.listitem {
    margin-top: 10px;
}

.itemblue {
    font-size: 11px;
    background-color: rgb(74, 165, 255);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}

.itempurple {
    font-size: 11px;
    background-color: rgb(154, 41, 215);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}

.itemgreen {
    font-size: 11px;
    background-color: rgb(29, 162, 84);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}

.itemorange {
    font-size: 11px;
    background-color: rgb(233, 136, 0);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}

.itempink {
    font-size: 11px;
    background-color: rgb(219, 57, 195);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}

.itemlightgreen {
    font-size: 11px;
    background-color: rgb(101, 212, 82);
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
}